*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.body{
    height: 100%;
    width: 100%;
}

.osun{
    background-color: #7E33E0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 5rem; */
    height:50px;
    width: 100%;
    color: #F1F1F1;

}
.osunb{
    padding-left: 15.5rem;
}

.numb{
    padding-right: 15rem;
}
.eng{
    display: flex;
    gap: 10px;
    padding-right: 13rem;
    
}

.icon1{

}
.eng{
    display: flex;
}


.nav-bar{
    display: flex;
    justify-content: space-between;
    /* padding: 5rem 5rem; */
    height: 80px;
    width: 100%;
    
    
    }
    .nav-item{
    margin-left: 14rem;
    font-family: "Josefin Sans", sans-serif;
    font-size: 34px;
    line-height: 34px;
    padding-top: 2rem;
    }
    
    .home{
        color: #FB2E86;
    }
    
    .nav-item2{
       padding-right: 4rem; 
       font-family: "Lato", sans-serif;
       font-size: 16px;
       line-height: 20px;
       padding-top: 2rem;
    }
    .nav-item3{
        display: flex;
        margin-right: 11rem;
        padding-top: 1.5rem;
    }
    
    
    ul, li{
        display: inline;
        padding: 20px;
        align-items: center;
        
        
        
    }
    
    a{
        text-decoration: none;
        color: black;
        
        
    
    }
    .form{
        height: 40px;
        width: 217px;
        border: 2px #E7E6EF solid;
        /* padding-bottom: 1rem; */
        padding-left: 2rem;
        
    }
    .icon1{
    background-image: url(Group\ 14.png);
    width: 51px;
    height: 40px;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
    padding-top: 14px;
    }

    .my-acc{
        background-color: #F6F5FF;
        height: 200px;
        padding-top: 4.5rem;
        padding-left: 14rem;
            }
        
        .my-acc h1{
            
        font-family: "Josefin Sans", sans-serif;
        font-size: 36px;
        line-height: 42px;
        color: #101750;
            }
            .my-acca{
                display: flex;
                gap: 0.8rem;
                padding-top: 0.5rem;
            }
        
            .ome{
                font-family: "Lato", sans-serif;
                font-size: 16px;
                line-height: 19px;
                font-weight: 500;
                color: #000000;
            }
        
            
            .oome{
                font-family: "Lato", sans-serif;
                font-size: 16px;
                line-height: 19px;
                font-weight: 500;
                color: #000000;
            }
        
            
            .ooome{
                font-family: "Lato", sans-serif;
                font-size: 16px;
                line-height: 19px;
                font-weight: 500;
                color: #FB2E86;
            }
         .completed{
    /* background-color: red; */
    height: 550px;
    width: 100%;
     padding-left: 30rem;
     padding-top: 8rem;
         }

         .fect{
         display: flex;   
         }

         .vec{
            /* background-color: white; */
            border-radius: 50%;
            
            position: absolute;
            right: 45rem;
            top: 36rem;
            
         }

         .veec{
            position: relative;
            left: 16rem;
         }

         .your{
             
        font-family: "Josefin Sans", sans-serif;
        font-size: 36px;
        line-height: 42px;
        color: #101750;
        padding-left: 5rem;
        padding-top: 2rem;
         }

         .confir{
            font-family: "Lato", sans-serif;
            font-size: 16px;
            line-height: 30px;
            font-weight: 600;
            color: #8D92A7; 
            padding-top: 2rem;
            
         }

         .confirm{
            font-family: "Lato", sans-serif;
            font-size: 16px;
            line-height: 30px;
            font-weight: 600;
            color: #8D92A7; 
            padding-left: 2.5rem;
         }

         button{
            background-color:#FF1788;
            border: none;
            color: white;
            cursor: pointer;
            border-radius: 2px;
            align-items: center;
            width: 163px;
            height: 50px;
            margin-top: 1.5rem;
            margin-left: 12rem;
            
            
        }

        .smile{
            position: relative;
            left: 13rem;
            top: 16rem;
        }

        .smil{
            position: relative;
            left: 80rem;
            bottom: 5rem;
        }

        .ayinla{
            margin-top: 5rem;
            margin-left: 17rem;
        }

        
.eko{
    display: flex;
    background-color: #EEEFFB;
    margin-top: 7rem;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    padding-top: 8rem;
    height: 500px;

}

.nam h1{
    font-family: "Josefin Sans", sans-serif;
    font-size: 38px;
    line-height: 44px;
    position: relative;
    bottom: 2.5rem;
}
.man{
   position: relative; 
   bottom: 2.5rem;
}
.info{
padding-top: 0rem;
font-size: 16px;
font-family: "Lato", sans-serif;
font-weight: 400;
line-height: 19.2px;
color: #8A8FB9;
position: relative;
bottom: 1rem;
}
.infor{
/* padding-top: 0.5rem; */
font-size: 16px;
font-family: "Lato", sans-serif;
font-weight: 400;
line-height: 19.2px;
color: #8A8FB9;
}

.video h1{
    font-family: "Josefin Sans", sans-serif;
    font-size: 22px;
    line-height: 25px;
    position: relative;
    bottom: 2rem;
}
.videos h1{
    font-family: "Josefin Sans", sans-serif;
    font-size: 22px;
    line-height: 25px;
    position: relative;
    bottom: 2.2rem;
    
}
.videose h1{
    font-family: "Josefin Sans", sans-serif;
    font-size: 22px;
    line-height: 25px;
    position: relative;
    bottom: 1.6rem;
}
.pel{
    font-size: 16px;
font-family: "Lato", sans-serif;
font-weight: 400;
line-height: 19.2px;
color: #8A8FB9;
padding-top: 1rem;

}
.pell{
    font-size: 16px;
font-family: "Lato", sans-serif;
font-weight: 400;
line-height: 19.2px;
color: #8A8FB9;
padding-top: 1rem;
}
.pelle{
    font-size: 16px;
font-family: "Lato", sans-serif;
font-weight: 400;
line-height: 19.2px;
color: #8A8FB9;
padding-top: 1rem;

}
.peller{
    font-size: 16px;
font-family: "Lato", sans-serif;
font-weight: 400;
line-height: 19.2px;
color: #8A8FB9;
padding-top: 1rem;

}
.pellere{
    font-size: 16px;
font-family: "Lato", sans-serif;
font-weight: 400;
line-height: 19.2px;
color: #8A8FB9;
padding-top: 1rem;

}
.jar{
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 19.2px;
    color: #8A8FB9;
    margin-top: 1rem;
}
.jarv{
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 19.2px;
    color: #8A8FB9;
    margin-top: 1rem;
}
.jarvi{
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 19.2px;
    color: #8A8FB9;
    margin-top: 1rem;
}
.jarvis{
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 19.2px;
    color: #8A8FB9;
    margin-top: 1rem;
}
.jarviss{
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 19.2px;
    color: #8A8FB9;
    margin-top: 1rem;
}
.job{
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 19.2px;
    color: #8A8FB9;
    margin-top: 1rem;
}
.joba{
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 19.2px;
    color: #8A8FB9;
    margin-top: 1rem;
}
.jobad{
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 19.2px;
    color: #8A8FB9;
    margin-top: 1rem;
}
.jobadd{
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 19.2px;
    color: #8A8FB9;
    margin-top: 1rem;
}
.jobaddd{
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 19.2px;
    color: #8A8FB9;
    margin-top: 1rem;
}
.jobadddd{
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 19.2px;
    color: #8A8FB9;
    margin-top: 1rem;
}
.videose{
    margin-top: 1.5rem;
}

.man{
    display: flex;
    padding-top: 1.5rem;
}
.form{
    width:230px ;
    height: 39px;
    padding-left: 1rem;
    opacity: 50%;
    
}

.find{
    background-color: #FB2E86;
    height: 39px;
    width: 135px ;
    border-radius: 3px;
    padding-left: 2.5rem;
    padding-top: 0.7rem;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    
    
}


.group{
    display: flex;
    gap: 30rem;
    /* margin-top: 0.5rem; */
    background-color: #E7E4F8;
    padding-top: 0.5rem;
}

.groups{
    padding-left: 15rem;
}
.groups p{
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    line-height: 19.2px;  
    color: #9DA0AE;
}
.groupss{
    padding-left: 8rem;
}




    